
/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body,
html {
    height: 100%;
}

/*Set background image*/
.container {
    background-image: url(../img/HotJupiter.jpg);
    background-repeat: no-repeat;
    height:100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.pgheader{
    position:fixed;
    width:auto;
    background-image:url(../img/titlefadebar.png);
    font-family:'Agency FB';
    text-align:left;
    font-size:4.5vw;
    color:silver;
    margin-top:.5em;
}
.menu {
    position: relative;
    top: 4em;
    min-width: 100px;
    height:1em;
    width:fit-content;
    color: silver;
    font-size: 2.5vw;
    left: 2%;
}
    .menu ul {
        background-color:darkgray   ;
        position: relative;
        list-style-type: none;
        color: darkolivegreen;
        text-align: left;
        font-size: 2vw;
        font-weight: 400;
        font-family: 'Agency FB';
        margin-block-start: -4em;
        padding-inline-start: 10px;
    }
    .menu li{
        float:left;
        padding:0px 16px;
    }
    .menu li:hover {
        text-decoration: underline;
        cursor: pointer;
    }

@media screen and (max-width: 600px){
    .menu ul {
        font-weight: 300;
        background-color:transparent;
    }
    .menu li {
        float: none;
    }
}

.slidecontainer{
    background-color:black;
    position:relative;
    left:13%    ;
    top:15em;
    height:20em;
    width:75%;
}

.slidedot{
    text-align:center;
    position:relative;
    top:13em;
}

.dot {
    cursor: pointer;
    top: 25em;
    height: 5px;
    width: 5px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 35%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
